* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f39422;
  font-size: 30px;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #010038;
}

h1 {
  padding: 10px;
}

.currency {
  background-color: #293a80;
  border-radius: 10px;
  padding: 10px;
}

.currency table {
  background-color: #537ec5;
  text-align: left;
}

.currency th,
.currency td {
  padding-right: 75px;
}
